on:
  pull_request:

jobs:
  static-code-analysis:
    name: Static Code Analysis
    runs-on: ubuntu-latest
    steps:
      - name: Static Code Analysis
        run: echo "Running static code analysis..."

  provisioning-linode:
    name: Provisioning Linode
    runs-on: ubuntu-latest
    needs: static-code-analysis
    steps:
      - name: Provisioning Linode
        run: echo "Provisioning Linode instance..."

  deploy-application:
    name: Deploy Application
    runs-on: ubuntu-latest
    needs: provisioning-linode
    steps:
      - name: Deploy Application
        run: echo "Deploying application to Linode..."

  run-tests:
    name: Run Tests
    runs-on: ubuntu-latest
    needs: deploy-application
    steps:
      - name: Run Tests
        run: echo "Running tests on deployed application..."

  delete-linode:
    name: Delete Linode
    runs-on: ubuntu-latest
    needs: run-tests
    steps:
      - name: Delete Linode
        run: echo "Deleting Linode instance..."

  notify-results:
    name: Notify Results
    runs-on: ubuntu-latest
    needs: delete-linode
    steps:
      - name: Notify Results
        run: echo "Notifying results of the CI pipeline..."